<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>User </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/user.css">
</head>

<body>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <div class="connect">
        <h4><span id="let">Lets</span>Connect</h4>
        <a href="/login/logout">
            <h4>Log Out</h4>
        </a>
    </div>
    <hr>
    <div class="container bootstrap snippets bootdey">
        <div class="row">
            <div class="profile-nav col-md-3">
                <div class="panel">
                    <div class="user-heading round">
                            <img height="300px" width="260px" src="/photos/upload/<%=pic%>" alt="">
                        <h2><%=name%></h2>
                        <p><%=email%></p>
                        <div class="anchor">
                            <button class="links"> <i class="fa fa-user"></i> Profile</button>
                            <button class="links"> <i class="fa fa-edit"></i> Edit profile</button>
                            <button class="links"> <i class="fa fa-edit"></i>Change DP</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="profile-info col-md-9">
                <div class="panel">
                    <form action="/complaints" method="post">
                        <textarea placeholder="File the complaint..." rows="2" name="complaint"
                            class="form-control input-lg p-text-area"></textarea>
                        <button class="btn btn-warning pull-right">Post</button>
                    </form>
                    <p class="msg"><%=message%></p>
                </div>
                <div class="panel">
                    <div class="panel-body bio-graph-info">
                        <div class="row hiden">
                            <h1>Profile</h1>
                            <div class="bio-row">
                                <p><span>Full Name </span>:<%=name%></p>
                            </div>
                            <div class="bio-row">
                                <p><span>Birthday</span>:<%=DOB%></p>
                            </div>
                            <div class="bio-row">
                                <p><span>Description </span>: <%=desc%></p>
                            </div>
                            <div class="bio-row">
                                <p><span>Email </span>: <%=email%></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="row work">
                        <div class="working" id="router">
                            <a href="/router/"><h4 class="red">View routers details</h4></a>
                        </div>
                        <div class="working" id="IP">
                            <a href="/api/ip"><h4 class="terques">Know My IP Address</h4></a>
                        </div>
                        <div class="working" id="bb">
                            <a href="/bbc/bbcselected"><h4 class="green">View The Past Broadband Connections</h4></a>
                        </div>
                        <div class="working" id="complaint">
                            <a href="/complaints/"><h4 class="purple">View my Past Complaints</h4></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   

    <form action="/user/dp" method="post" enctype="multipart/form-data">
    Upload Image: <input type="file" name="image" required><button type="submit">Upload</button>
    </form>
    <script>
        document.querySelectorAll('.links')[1].addEventListener('click',()=>{
        axios.get('http://localhost:1337/user/data')
        .then((resp)=>{console.log(resp); display(resp.data) }) 
        .catch((err)=>console.log(err))
    })
    
    function display({roll_no,uname,emailid,password,description,dob,image}){
        console.log(roll_no,uname,emailid,password,description,dob);
        var str = ` <form action="/user/edit/${emailid}/${dob}/${image}" method="post">
            <table>
                <tr><td><label for="rollno">Roll No:</label></td><td> <input type="text" name="rollno" value="${roll_no}" id="rollno"></td></tr>
                <tr><td><label for="name">Name:</label></td><td> <input type="text" name="name" value="${uname}" id="name"></td></tr>
                <tr><td><label for="name">EmailId:</label></td><td> <input type="email" name="email" value="${emailid}" id="email"></td></tr>
                <tr><td><label for="password">Password:</label></td><td> <input type="password" name="password" value="${password}" id="password"></td></tr>
                <tr><td><label for="description">Description:</label></td><td> <input type="text" name="description" value="${description}" id="description"></td></tr>
                </table>
                <button type="submit">Edit </button>
                </form>`
                document.querySelector('.hiden').innerHTML =str; 

    }


    </script>
</body>

</html>