<!DOCTYPE html>
<html>

<head>
    <title>List of routers installed</title>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital@1&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
    <script src="/viewrouter.js"></script>
</head>
<style>
   body{
    background-color:#D9CAB3;
}
div.top {
    opacity: .8;
    width: 80%;
}
a{
    color: black;
   
}
.icons{margin:auto 40px;}
i{ font-size: 20px;}
li{
    margin: 5px auto;
}
input{width: 250px;}
.hide{display: none;}    
</style>

<body style="font-family: 'Merriweather', serif; margin-top: 50px;" >
    <div class="hide">
        <form action="/admin/edit/update" method="post" class="Form">
            <table>
            <tr><td><label for="rname">Router Name:</td><td><input type="text" id="rname" name="rname" value='<%=rname%>'></label>  </td></tr>
            <tr><td><label for="rpassword">Router Password:</td><td><input type="text" id="rpassword" name="rpassword" value='<%=rpassword%>'></label> </td></tr>
            <tr><td><label for="Mdate">Malfunction Date:</td><td><input type="date" id="Mdate" name="Mdate" value='<%=Mdate%>'></label> </td></tr>
            <tr><td><label for="dep">Department Install :</td><td><input type="text" id="dep" name="dep" value='<%=dep%>'></label> </td></tr>
            <tr><td><label for="rs">Repaired Status:</td><td><input type="text" id="rs" name="rs" value='<%=rs%>'></label> </td></tr>
            <tr><td><label for="rd">Repaired date:</td><td><input type="Date" id="rd" name="rd" value='<%=rd%>'></label> </td></tr>
            <tr><td></td><td><button>Submit</button></td></tr>
        </table>
        </form>
    </div>

    <div class="top" style="margin: auto;">
        <h2>List of all routers installed are </h2>
        <div class="main">
    </div>
    





    </div>
</body>

</html>